@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #f8fafc;
    --seconday_color: #1B1B1D;
    --grey_color: #828283;
    --background_color: rgb(75 85 99);
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
}

.hidden {
    display: none;
}

.calendar {
    background-color: var(--seconday_color);
    color: var(--primary-color);
    width: 16rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.6rem 1.2rem 1.6rem 1.2rem;
    z-index: 50;
}

.calendar__title {
    margin: 0px;
    font-size: 1.2rem;
    cursor: pointer;
}

.calendar__nav__button {
 background-color: transparent;
 border: none;
 cursor: pointer;
}

.calendar__nav__button > svg {
    stroke: var(--primary-color);
}

.calendar__nav__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

.calendar__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.calendar__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.calendar__body__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar__body__dayoftheweek {
    margin: 0 auto;
    color: var(--grey_color);
}

.calendar__body__cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 2.2rem);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar__body__cell {
    margin: 0 auto;
    font-weight: 400;
}

.calendar__body__cell--white {
    color: var(--primary-color);
}

.calendar__body__cell--grey {
    color: var(--grey_color);
}

.calendar--hover:hover {
    background-color: rgb(75 85 99);
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 0.4rem;
}